.header {
    padding: 60px;
    text-align: center;
    color: black;
    font-size: 30px;
}

h1, h2{
    margin-right: 100px;
    margin-left: 100px;
}

.row {
    text-align: center
}

.column {
    flex: 50%;
    padding: 10px;

}

img.b1 {
    width:150px;
    height:30px;
}

.text-block {
    color: black;
    white-space:nowrap;
    text-align: left;
    display:inline-block;

}

p{
    word-break: normal;
    white-space: normal;
    font-size:1.2em;
    margin-top: 50px;
    margin-right: 100px;
    margin-left: 100px;

}
